#sellmentoverview {
    .el-item.item-2x {
        padding: 20px;
        box-sizing: border-box;
        min-height: 195px;
    }
    .el-row {
        margin-bottom: 15px;
    }
    .el-tag {
        padding: 0 12px;
    }
    .el-progress-bar__outer {
        border-radius: 4px;
    }
    .el-progress-bar__inner {
        border-radius: 0;
    }
    .el-progress.is-success .el-progress-bar__inner {
        background: #B9D963;
    }
    .month-turnover {
        padding: 10px 15px;
        border-radius: 5px;
        margin-top: 28px;
    }
}
