#elmenu {
    .el-menu--dark {
        background-color: #131B1E;
    }
    .el-menu {
        border-radius: 0;
        height: 100%;
        .el-menu-item.is-active {
            color: #121B1E;
            background: #F3F3F3;
        }
    }
}
