#usermentlist {
    .el-pagination {
        text-align: right;
        margin-top: 25px;
    }
    .el-table .cell {
        white-space: nowrap;
    }
    .userment-detail {
        display: inline-block;
        width: 44px;
        color: #fff;
        text-align: center;
        border-radius: 3px;
        font-size: .9em;
    }
}
