@import "../base/min";

#boxeditor {
    .form-right {
        a.editor-coordinate {
            width: 350px;
            display: block;
            border-radius: 3px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            color: #fff;
            background: $bgPicton;
        }
        .el-textarea {
            width: 350px;
            .el-textarea__inner {
                height: 200px;
            }
        }
    }
}
