@import "../base/min";

#boxmentlist {
    .boxitem-perating {
        display: inline-block;
        width: 44px;
        color: #fff;
        text-align: center;
        border-radius: 3px;
        font-size: 0.9em;
    }
}
